<div class="example-container">
  <form [formGroup]="wordleForm" class="box">
    <div>
      <h3>Exclude Chars</h3>
      <mat-form-field appearance="fill">
        <mat-label>Exclude Characters</mat-label>
        <input
          matInput
          formControlName="excludeCharacters"
          placeholder="a,b,c,d"
        />
      </mat-form-field>
    </div>
    <div>
      <h3>Included Chars on Correct Index</h3>

      <ng-container formArrayName="includeCharsWithIndex">
        <div *ngFor="let _ of includeCharsWithIndex.controls; index as i">
          <ng-container [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Character</mat-label>
              <input matInput formControlName="character" placeholder="i" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Is correct on index</mat-label>
              <input matInput formControlName="index" placeholder="0" />
            </mat-form-field>
          </ng-container>
          <button
            mat-raised-button
            color="primary"
            (click)="removeFormControl(i, includeCharsWithIndex)"
            *ngIf="includeCharsWithIndex.controls.length > 1"
          >
            Remove
          </button>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="addFormControlCorrectIndex()"
        >
          Add new indexchar
        </button>
      </ng-container>
    </div>

    <div>
      <h3>Included Chars not on Correct Index</h3>

      <ng-container formArrayName="includeCharsWithWrongIndexes">
        <div
          *ngFor="let _ of includeCharsWithWrongIndexes.controls; index as i"
        >
          <ng-container [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Character</mat-label>
              <input matInput formControlName="character" placeholder="i" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Is NOT correct on indexes</mat-label>
              <input matInput formControlName="indexes" placeholder="0,1,2" />
            </mat-form-field>
          </ng-container>
          <button
            mat-raised-button
            color="primary"
            (click)="removeFormControl(i, includeCharsWithWrongIndexes)"
            *ngIf="includeCharsWithWrongIndexes.controls.length > 1"
          >
            Remove
          </button>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="addFormControlWrongIndex()"
        >
          Add new indexchar
        </button>
      </ng-container>
    </div>
  </form>
</div>
