<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>wordle-helper</span>
    </mat-toolbar>

    <div>
      <form [formGroup]="wordleForm">
        <mat-form-field appearance="fill">
          <mat-label>Exclude Characters</mat-label>
          <input matInput formControlName="excludeCharacters" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Include Characters</mat-label>
          <input matInput formControlName="includeCharacters" />
        </mat-form-field>

        <ng-container formArrayName="includeCharsWithIndex">
          <div *ngFor="let _ of includeCharsWithIndex.controls; index as i">
            <ng-container [formGroupName]="i">
              <mat-form-field appearance="fill">
                <mat-label>Character</mat-label>
                <input matInput formControlName="character" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Is correct on index</mat-label>
                <input matInput formControlName="index" />
              </mat-form-field>
            </ng-container>
            <button
              mat-raised-button
              color="primary"
              (click)="removeFormControl(i)"
              *ngIf="includeCharsWithIndex.controls.length > 1"
            >
              Remove
            </button>
          </div>
          <button mat-raised-button color="primary" (click)="addFormControl()">
            Add new indexchar
          </button>
        </ng-container>
      </form>
    </div>

    <pre>{{ wordleForm.value | json }}</pre>

    <!-- {{ result | json }} -->

    <!-- <mat-chip-list #chipList aria-label="Already typed words">
      <mat-chip *ngFor="let word of result">
        {{ word }}
      </mat-chip>
    </mat-chip-list> -->
  </mat-sidenav-content>
</mat-sidenav-container>
